{
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "quotes": [2, "single"],
    "strict": [2, "never"],
    "semi": [2, "never"],
    "comma-dangle": ["error", "never"]
  },
  "plugins": [
    "react"
  ]
}
