.container {
  max-width: 1200px;
  margin: auto;
  .todo {
    display: inline-block;
    vertical-align: top;
    width: 65%;
    padding: 10px;
    .title {
      margin: 0;
    }
  }
  .widget {
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    width: 35%;
    max-width: 500px;
    float: right;
    position: fixed;
  }
}