.container {
  .todo {
    display: inline-block;
    vertical-align: top;
    width: 65%;
    padding: 10px;
    .title {
      margin: 0;
    }
  }
  .weather {
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    width: 35%;
    background-color: #f2f2f1;
    height: calc(100vh - 70px);
    max-width: 500px;
    float: right;
  }
}