@import '../../style/var';

.nav {
  background-color: $flat-blue;
  height: 70px;
  vertical-align: middle;
  line-height: 70px;
}

.link {
  color: $flat-white;
  padding: 10px;
  &:hover, &.active {
    color: $flat-dark;
  }
}