@import '../../style/var';

.container {
  padding: 0 10px;
  min-height: calc(100vh - 120px);
  .news-card {
    box-shadow: 1px 1px 1px lightgray;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.09);
    background: white;
    margin-right: auto;
    margin-left: auto;
    max-width: 660px;
    padding: 20px;
    margin-bottom: 10px;
    img {
      display: inline-block;
      width: 80px;
      height: 80px;
      margin-right: 20px;
    }
    h3 {
      display: inline-block;
      vertical-align: top;
      margin: 0;
      font-weight: 400;
      font-size: 14px;
      max-width: 350px;
      color: $flat-dark-blue;
    }
  }
}
